<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextBin</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/dark-mode.css" id="darkModeStyles">
</head>
<body>
    <div class="container">
        <h1>Shared Text</h1>
        <p id="content" style="white-space: pre-line;"><%= content %></p>
    </div>

    <script src="/script.js"></script>
</body>
</html>
